.contact-layout {
    display: flex;
    flex-direction: row;
}
.contact form {
    max-width: 790px;
    display: inline-block;
    margin: 0 0 var(--spacing);
    position: relative;
}
.name_form,
.email_form {
    width: 385px;
    display: inline-block;
    padding: 0 0 var(--spacing) 0;
}

.name_form {
    padding-right: var(--spacing);
}

.contact form label,
.contact form input:not(.button) {
    display: inline-block;
    width: 100%;
}

.contact form input:not(.button),
.contact form textarea {
    background: var(--overlay);
    font-family: inherit;
    color: inherit;
    border: 0;
    padding: calc(var(--spacing) / 2);
    box-sizing: border-box;
}

.contact form textarea {
    width: 100%;
    height: 20em;
}

.contact form .button {
    float: right;
}

.contact_info {
    display: inline-block;
    font-size: 16px;
    padding: calc(var(--spacing) * 3);
    margin: 0 0 0 calc(var(--spacing) * 3);
    line-height: 3em;
    background: var(--overlay);
}

.contact-item {
}

.contact-item a {
    text-decoration: none;
}

.contact-item svg,
.contact-item i {
    font-size: 32px;
    vertical-align: middle;
    margin: 0 var(--spacing) 0 0;
}

.contact_confirm {
    position: absolute;
    background: var(--background3);
    box-shadow: -4px 4px 10px var(--darkened);
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    padding: calc(var(--spacing) * 2);
    animation: fadeout .5s 2s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 800px) {
    .contact-layout {
        flex-direction: column;
    }

    .email_form,
    .name_form {
        width: 100%;
    }
}