.contact-layout {
    display: flex;
    flex-direction: row;
}
.contact_form {
    width: 790px;
    display: inline-block;
}
.name_form,
.email_form {
    width: 385px;
    display: inline-block;
    padding: 0 0 var(--spacing) 0;
}

.name_form {
    padding-right: var(--spacing);
}

.contact_form label,
.contact_form input {
    display: inline-block;
    width: 100%;
}

.contact_form input,
.contact_form textarea {
    background: #111;
    font-family: inherit;
    color: inherit;
    border: 0;
    padding: calc(var(--spacing) / 2);
    box-sizing: border-box;
}

.contact_form textarea {
    width: 790px;
    height: 20em;
}

.contact_form button {
    float: right;
}

.contact_info {
    display: inline-block;
    font-size: 16px;
    padding: calc(var(--spacing) * 3);
    margin: 0 0 0 calc(var(--spacing) * 3);
    line-height: 3em;
    background: rgba(0, 0, 0, .5);
}
