.contact-layout {
    display: flex;
    flex-direction: row;
}
.contact_form {
    width: 790px;
    display: inline-block;
}
.name_form,
.email_form {
    width: 385px;
    display: inline-block;
    padding: 0 0 var(--spacing) 0;
}

.name_form {
    padding-right: var(--spacing);
}

.contact_form label,
.contact_form input {
    display: inline-block;
    width: 100%;
}

.contact_form input,
.contact_form textarea {
    background: #111;
    font-family: inherit;
    color: inherit;
    border: 0;
    padding: calc(var(--spacing) / 2);
    box-sizing: border-box;
}

.contact_form textarea {
    width: 790px;
    height: 20em;
}

.contact_form button {
    padding: calc(var(--spacing) / 2) var(--spacing);
    width: 100px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
    font-family: inherit;
    color: inherit;
    border: 0;
    margin-left: 690px;
    position: relative;
}

.contact_form button:hover {
    color: var(--accent);
    cursor: pointer;
}

.contact_form button:hover:before {
    width: 100%;
}

.contact_info {
    display: inline-block;
    font-size: 18px;
    padding: calc(var(--spacing) * 3);
    margin: 0 0 0 calc(var(--spacing) * 3);
    line-height: 2em;
    border-left: 1px solid #ccc;
}

.contact_info label {
}

.contact_info a {
    color: inherit;
}
