.work_area {
    position: relative;
    min-height: 1342px;
    max-width: 1000px;
    margin: calc(var(--spacing) * 2) 0;
    --job-time: .8s;
    --dot-time: .2s;
}

.timeline {
    border-left: var(--font-color) 1px solid;
    height: 0;
    position: absolute;
    margin: 0 0 0 120px;
}

.animate .timeline {
    animation: timeline calc(var(--job-time) * 5 + var(--dot-time) * 5) ease-out forwards;
}

.job {
    margin: 0 0 0 120px;
}

.job-content {
    border-top: 1px solid var(--font-color);
    padding: 0;
    width: 0;
    max-height: 1px;
    overflow: hidden;
    box-sizing: border-box;
}

.job-tech li {
    display: inline-block;
    font-size: 24px;
}

.job-tech li + li {
    margin: 0 0 0 var(--spacing);
}

.animate .job-content {
    animation: job-card var(--job-time) var(--dot-time) ease-out forwards;
}

.animate .job:nth-child(3) .job-content {
    animation-delay: calc(var(--job-time) + var(--dot-time) * 2);
}

.animate .job:nth-child(4) .job-content {
    animation-delay: calc(var(--job-time) * 2 + var(--dot-time) * 3);
}

.animate .job:nth-child(5) .job-content {
    animation-delay: calc(var(--job-time) * 3 + var(--dot-time) * 4);
}

.animate .job:nth-child(6) .job-content {
    animation-delay: calc(var(--job-time) * 4 + var(--dot-time) * 5);
}

.jobs {
    line-height: 1.5em;
}

.meta_data {
    font-size: 16px;
}

.date-end {
    position: absolute;
    margin: -7px 0 0 -80px;
    width: 85px;
    color: var(--strong);
    opacity: 0;
}

.animate .date-end {
    animation: fade var(--dot-time) linear forwards;
}

.animate .job:nth-child(3) .date-end {
    animation-delay: calc(var(--job-time) + var(--dot-time));
}

.animate .job:nth-child(4) .date-end {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 2);
}

.animate .job:nth-child(5) .date-end {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 3);
}

.animate .job:nth-child(6) .date-end {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 4);
}

.animate .date-end.start {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 5);
    margin: -20px 0 0 40px;
}

.date-end:after {
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: var(--font-color);
    margin: 5px 0 0 5px;
    transform: scale(0);
}

.animate .date-end:after {
    animation: grow var(--dot-time) ease-out forwards;
}

.animate .job:nth-child(3) .date-end:after {
    animation-delay: calc(var(--job-time) + var(--dot-time));
}

.animate .job:nth-child(4) .date-end:after {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 2);
}

.animate .job:nth-child(5) .date-end:after {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 3);
}

.animate .job:nth-child(6) .date-end:after {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 4);
}

.animate .date-end.start:after {
    animation-delay: calc((var(--job-time) + var(--dot-time)) * 5);
}

.certification_list {
    font-size: 16px;
}

.certification {
    color: var(--strong);
}

.resume_link {
    font-size: 18px;
}

@keyframes timeline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        margin: 4px 0 0 4px;
        transform: scale(0);
    }

    100% {
        margin: 0;
        transform: scale(1);
    }
}

@keyframes job-card {
    0% {
        max-height: 1px;
        width: 0;
        padding: 0;
        color: transparent;
    }
    40% {
        max-height: 1px;
        width: 100%;
        padding: var(--spacing) var(--spacing) 0;
        color: transparent;
    }
    100% {
        max-height: 400px;
        width: 100%;
        padding: var(--spacing);
        color: inherit;
    }
}


@media (max-width: 800px) {
    .work_area {
        margin-bottom: calc(var(--spacing) * 4);
    }
    .timeline,
    .job {
        margin: 0 0 0 40px;
    }
    .date-end {
        margin-left: -35px;
        width: 40px;
    }

    .date-end.start,
    .animate .date-end.start {
        margin: -5px 0 0 5px;
    }
}
