footer {
    background: var(--background3);
    padding: var(--spacing);
    min-height: var(--spacing);
    text-align: right;
    font-family: Arial, sans-serif;
    line-height: 24px;
}

footer .logo {
    vertical-align: middle;
    margin: 0 var(--spacing) 0 0;
}