header {
    background: var(--overlay);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--spacing);
    box-shadow: 0 5px 10px var(--darkened);
    z-index: 10;
    min-height: 40px;
    line-height: 40px;
}

nav {
    float: right;
    margin: 0;
    padding: 0;
} 

nav a {
    text-decoration: none;
    transition: text-shadow .3s;
    display: inline-block;
    margin: 0 0 0 var(--spacing);
}

header .logo {
    float: left;
}
