@font-face {
    font-family: 'poppins';
    src: url(../static/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-thin';
    src: url(../static/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'poppins-bold';
    src: url(../static/Poppins-SemiBold.ttf);
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-size: small;
    font-family: 'poppins';
    background: #222;
    color: #a9a9a9;
    margin: 0;
    padding: 0;
    --accent: #F79800;
    --spacing: 20px;
    --content-width: 1600px;
}

section {
    background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
    width: 100%;
    margin: 0;
    padding: var(--spacing);
    box-sizing: border-box;
    min-height: 600px;
}

.center {
    max-width: calc(var(--content-width) - 2 * var(--spacing));
    margin: auto;
}

.jump-to {
    position: relative;
    top: -118px;
}

h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 200;
}

h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
}

h3 {
    margin: 0;
    font-weight: 200;
    color: #fff;
}